<div class="row">
  <div class="col-sm-9 custom-margin custom-top">
    <div class="schedule-interview-box">
      <div class="candidate-manager candidate-manager-edit-post">
        <h4>Schedule Interview</h4><br>
        <div class="empoyer-accoun-form">
          <h4>Interview Information</h4>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>Interview Name</label>
                <input type="email" class="form-control" id="email" placeholder="Technical Round1">

              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Client Name</label>
                <input type="email" class="form-control" id="email" placeholder="">

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>Posting Title</label>
                <input type="email" class="form-control" id="email" placeholder="">

              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Candidate Name</label>
                <input type="email" class="form-control" id="email" placeholder="">

              </div>
            </div>



          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>Interviewer Name</label>
                <input type="email" class="form-control" id="email" placeholder="">

              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Location</label>
                <input type="email" class="form-control" id="email" placeholder="">

              </div>
            </div>



          </div>


          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>From</label>
                <input type="email" class="form-control" id="email" placeholder="00/00/0000">

              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>To</label>
                <input type="email" class="form-control" id="email" placeholder="00/00/0000">

              </div>
            </div>





          </div>


          <div class="row">

            <div class="col-sm-6">
              <div class="form-group">
                <label>Interview Status</label>
                <select class="form-control" name="marital">
                  <option value=""></option>
                  <option value="Married">Rejected</option>
                  <option value="Single">Selected</option>
                  <option value="Single">Re-Scheduled</option>
                  <option value="Single">Position On-Hold</option>
                </select>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label>Reason, If any</label>
                <select class="form-control" name="marital">
                  <option value=""></option>
                  <option value="Married">NA</option>
                  <option value="Single">Technical Skill Not Good</option>
                  <option value="Single">Referred for Second Round</option>
                  <option value="Single">Attitude is not good</option>
                  <option value="Single">Salary Pkg Too High</option>
                  <option value="Single">Communication Skill not Good</option>
                  <option value="Single">Unable to Reach the Candidate</option>
                  <option value="Single">Candidate Is not Willing To Work On Support Project</option>
                  <option value="Single">Candidate Is not Willing To Relocate</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <img src="./assets/img/job-description.png" class="img-responsive">
            </div>
          </div>
          <hr>
          <br>
          <div class="row">
            <div class="edit-button">
              <button type="submit" class="btn btn_form5 pull-right" style="margin-top: 0px">Cancel</button>
              <button type="submit" class="btn btn_form5 pull-right" style="margin-top: 0px">Schedule</button>

            </div>
          </div>
        </div>

        <div class="clearfix"></div>
        <br>
        <div class="row">
          <div class="col-sm-12"><img src="./assets/img/add3.jpg" class="img-responsive"></div>
        </div>
      </div>
    </div>
  </div>
</div>