<!-- <body id="page-top">
  <section id="featured" class="pinside30">
    <div class="container">
      <div class="row">
        <div class="col-sm-9"> -->
          <h4 class="job_head">Email Details</h4><br>
          <div class="msg-box ">
            <table class="table table-bordered">

              <tbody>
                <tr class="icon-box">
                  <td class="fixed-width"><img src="assets/img/icon/compose.png">Compose</td>
                  <td>
                    <div class="left-msg-box">
                      <h4>Interview Call <span>True Info Solution</span> </h4>
                      <p>Hi. William.................</p>
                    </div>

                    <div class="right-msg-box">
                      <h5>21/10/14</h5>
                    </div>
                  </td>
                </tr>
                <tr class="icon-box">
                  <td class="fixed-width" style="color: #005a7d;"><img src="assets/img/icon/note.png">Inbox</td>
                  <td>
                    <div class="left-msg-box">
                      <h4>Interview Call <span>True Info Solution</span> </h4>
                      <p>Hi. William.................</p>
                    </div>

                    <div class="right-msg-box">
                      <h5>21/10/14</h5>
                    </div>
                  </td>
                </tr>
                <tr class="icon-box">
                  <td class="fixed-width"><img src="assets/img/icon/sent.png">Sent</td>
                  <td>
                    <div class="left-msg-box">
                      <h4>Interview Call <span>True Info Solution</span> </h4>
                      <p>Hi. William.................</p>
                    </div>

                    <div class="right-msg-box">
                      <h5>21/10/14</h5>
                    </div>
                  </td>
                </tr>
                <tr class="icon-box">
                  <td class="fixed-width"><img src="assets/img/icon/trash.png">Trash</td>
                  <td>
                    <div class="left-msg-box">
                      <h4>Interview Call <span>True Info Solution</span> </h4>
                      <p>Hi. William.................</p>
                    </div>

                    <div class="right-msg-box">
                      <h5>21/10/14</h5>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="left_arrow">
              <ul>
                <li><a href=""><i class="fas fa-chevron-left"></i></a></li>
                <li><a href=""><i class="fas fa-chevron-right"></i></a></li>
              </ul>
            </div>
          </div>
<!-- 
        </div>


      </div>
      <br>
      <div class="row">
        <div class="col-sm-12"><img src="assets/img/add3.jpg" class="img-responsive"></div>
      </div>
    </div>
  </section> -->