<div class="border-newwww">
    <div class="candidate-form">
      <h4>Search Posted Jobs</h4>
      <div class="row">
        <div class="col-sm-5">
          <div class="form-group">
            <label>From</label>
            <input type="date"
             class="form-control" 
            id="date" 
            placeholder="e.g. Johan"
            [(ngModel)]="search.startDate">
            <!-- <img src='./assets/img/calender.png'> -->
          </div>
        </div>

        <div class="col-sm-5">
          <div class="form-group">
            <label>From</label>
            <input type="date" 
            class="form-control" 
            id="date"
             placeholder="e.g. Johan"
             [(ngModel)]="search.endDate">
            <!-- <img src='./assets/img/calender.png'> -->
          </div>
        </div>

        <div class="col-sm-2">
          <button type="button" class="btn btn_form3" (click)="searchJob()">Search</button>
        </div>
      </div>

    </div>
    <div class="candidate-table">
      <table class="table">
        <thead>
          <tr>
            <th>Job Title</th>
            <th>Posted On</th>
            <th>Expiry Date</th>
            <th>Status</th>
            <th>Matching Profile(S)</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of postedJobList">
            <td>{{item.jobInfo.jobTitle}}</td>
            <td> {{item.jobPostedDate|date:'yyyy-MM-dd'}}</td>
            <td>{{item.jobInterviewInfo.validUntil|date:'yyyy-MM-dd'}}</td>
            <td [ngStyle]="{'color': (item.jobStatus === 'Pending') ? 'red' : (item.jobStatus === 'InActive') ? 'orange' : (item.jobStatus === 'Active') ? 'green' : ''}">{{item.jobStatus}}</td>
            <td>{{item.matchingPercentage}}</td>
          </tr>
        </tbody>
      </table>
      <div class="clearfix"></div>
      <div *ngIf="postedJobList.length<=0">
        <span style="text-align:right;">No records available</span>
    </div>
    <div>
      <span style="text-align:right;" *ngIf="postedJobList.length>0">{{'All records '+ postedJobList.length}}</span>
    </div>
      <div class="left_arrow">
        <ul>
          <li><a href=""><i class="fas fa-chevron-left"></i></a></li>
          <li><a href=""><i class="fas fa-chevron-right"></i></a></li>
        </ul>
      </div>
      <br><br>
    </div>
    <div class="clearfix"></div>
  </div>