<div class="border-newwww">
    <div class="candidate-form">
      <h4>Search Posted Jobs</h4>
      <div class="row">
        <div class="col-sm-5">
          <div class="form-group">
            <label>From</label>
            <input type="email" class="form-control" id="email" placeholder="e.g. Johan">
            <img src='./assets/img/calender.png'>
          </div>
        </div>

        <div class="col-sm-5">
          <div class="form-group">
            <label>From</label>
            <input type="email" class="form-control" id="email" placeholder="e.g. Johan">
            <img src='./assets/img/calender.png'>
          </div>
        </div>

        <div class="col-sm-2">
          <button type="submit" class="btn btn_form3">Search</button>
        </div>
      </div>

    </div>
    <div class="candidate-table">
      <table class="table">
        <thead>
          <tr>
            <th>Job Title</th>
            <th>Posted On</th>
            <th>Expiry Date</th>
            <th>Status</th>
            <th>Matching Profile(S)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>office Admin</td>
            <td>2018/06/03 11:10:11</td>
            <td>2018/06/03</td>
            <td class="greennnn">Active</td>
            <td>0</td>
          </tr>
          <tr>
            <td>office Admin</td>
            <td>2018/06/03 11:10:11</td>
            <td>2018/06/03</td>
            <td class="greennnn">Active</td>
            <td>0</td>
          </tr>
          <tr>
            <td>office Admin</td>
            <td>2018/06/03 11:10:11</td>
            <td>2018/06/03</td>
            <td class="greennnn">Active</td>
            <td>0</td>
          </tr>
          <tr>
            <td>office Admin</td>
            <td>2018/06/03 11:10:11</td>
            <td>2018/06/03</td>
            <td class="greennnn">Active</td>
            <td>0</td>
          </tr>
        </tbody>
      </table>
      <div class="left_arrow">
        <ul>
          <li><a href=""><i class="fas fa-chevron-left"></i></a></li>
          <li><a href=""><i class="fas fa-chevron-right"></i></a></li>
        </ul>
      </div>
      <br><br>
    </div>
    <div class="clearfix"></div>
  </div>