<div class="empoyer-accoun-form">
  <form #form="ngForm"  novalidate>
  <!-- <h4><strong>Job Details</strong></h4> -->
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label>Job Title</label>
        <input type="text" 
                class="form-control" 
                id="jobTitle"
                name="jobTitle"
                [(ngModel)]="jobInfo.jobTitle"
                required>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label>Key Skills</label>
        <!-- <ng-multiselect-dropdown 
                          name="KeySkill"
                          [data]="keySkillsDropdownList"
                          [(ngModel)]="selectedskills"
                          [settings]="dropdownSettings"
                          (onSelect)="onKeySkillSelect($event)"
                         >
      </ng-multiselect-dropdown>            -->
      <input   type="text"
      class="form-control" 
      id="KeySkill"
      name="KeySkill"
      placeholder="Select Skill"
      [(ngModel)]="this.jobInfo.keySkills" 
      list="keySkillsDropdownList"
      (change)="onKeySkillSelect($event.target.value)" required/>
     <datalist id="keySkillsDropdownList">
         <option [value]=""></option>
         <option  *ngFor="let c of keySkillsDropdownList">{{c.name}}</option>
     </datalist>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 col-xs-6">
      <div class="form-group">
          <label>Country</label>
                  <!-- <ng-multiselect-dropdown 
                  name="countryname"
                  [data]="countryList"
                
                  [settings]="dropdownSettings"
                  (onSelect)="onCountrySelect($event)">
                  </ng-multiselect-dropdown> -->
                  <input   type="text"
                  class="form-control" 
                  id="country"
                  name="country"
                  placeholder="Select Country"
                  [(ngModel)]="this.jobInfo.country" 
                  list="countryName"
                  (change)="onCountrySelect($event.target.value)" required/>
                 <datalist id="countryName">
                     <option [value]=""></option>
                     <option  *ngFor="let c of countryList">{{c.name}}</option>
                 </datalist>
       </div>
    </div>
    <div class="col-sm-4 col-xs-6">
      <div class="form-group">
      <label>State</label>
      <!-- <ng-multiselect-dropdown 
                          name="statename"
                          [data]="stateList"
                        
                          [settings]="dropdownSettings"
                          (onSelect)="onStateSelect($event)"
                         >
      </ng-multiselect-dropdown> -->
      <input   type="text"
      class="form-control" 
      name="state"
      placeholder="Select State"
      (change)="onStateSelect($event.target.value)"
      [(ngModel)]="this.jobInfo.state" 
      list="stateName" required/>
      <datalist id="stateName">
          <option [value]=""></option>
          <option *ngFor="let c of stateList">{{c.name}}</option>
      </datalist>
  </div>

    </div>
    <div class="col-sm-4 col-xs-6">
      <div class="form-group">
      <label>City</label>
      <!-- <ng-multiselect-dropdown 
                          name="cityname"
                          [data]="cityList"
                          [settings]="dropdownSettings"
                          (onSelect)="onSelectCity($event)"
                         >
      </ng-multiselect-dropdown> -->
      <input   type="text"
               class="form-control" 
               name="city"
               placeholder="Select City"
               [(ngModel)]="this.jobInfo.city" 
               list="cityName" required/>
               <datalist id="cityName">
               <option [value]=""></option>
               <option *ngFor="let c of cityList">{{c.name}}</option>
              </datalist>
  </div>
  
    </div>
</div>

<div class="row">
 
  <div class="col-sm-4 col-xs-6">
     <div class="form-group">
      <label>Zip Code</label>
      <input type="text"
              pattern="^[1-9][0-9]{5}$"
              class="form-control" 
              id="zipCode" 
              name="zipCode"
              [(ngModel)]="jobInfo.zipCode"
              >
    </div>
  </div>
</div>

  <hr>
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <label>Annual CTC</label>
        <input type="text" 
              class="form-control" 
              id="annualCTC" 
              name="annualCTC"
              [(ngModel)]="jobCtcInfo.annualCTC"
              required>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label> Min. Experience</label>
        <input   type="text"
                  class="form-control" 
                  name="ExpMin"
                  [(ngModel)]="jobCtcInfo.minExp"
                  list="expMin" 
                  (change)="onMinExpSelect($event.target.value)" 
                  required/>
              
       
      </div>
    </div>

    <div class="col-sm-4">
      <div class="form-group">
        <label>Max. Experience</label>
        <input   type="text"
                  class="form-control" 
                  name="ExpMax"
                  list="expMax" 
                  [(ngModel)]="jobCtcInfo.maxExp"
                  (change)="onMaxExpSelect($event.target.value)"
                  required/>
       
      </div>
    </div>

  </div>


  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <label>Functional Area</label>
        <input    type="text"
                  class="form-control" 
                  name="funcArea"
                  list="functionalAreaList" 
                  [(ngModel)]="jobCtcInfo.functionalArea"
                  (change)="onFunAreaSelect($event.target.value)" 
                  required/>
        <datalist id="functionalAreaList">
            <option [value]=""></option>
            <option *ngFor="let em of functionalAreaList">{{em.name}}</option>
        </datalist>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label>Industry</label>
        <input    type="text"
                  class="form-control" 
                  name="industry"
                  list="industryList"
                  [(ngModel)]="jobCtcInfo.industry"
                  (change)="onIndustrySelect($event.target.value)" 
                  required/>
         <datalist id="industryList">
            <option [value]=""></option>
            <option *ngFor="let em of industryList">{{em.industryName}}</option>
        </datalist>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="form-group">
        <label>Gender</label>
        <input  type="text"
                class="form-control" 
                name="gender"
                [(ngModel)]="jobCtcInfo.gender"
                list="gender" 
                (change)="onGenderSelect($event.target.value)" 
                required/>
<datalist id="gender">
  <option [value]=""></option>
  <option *ngFor="let em of gender">{{em.gender}}</option>
</datalist>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <label>No. of vacancies</label>
        <input type="number"
                appAllownumbersonly
               class="form-control" 
               name="noOfVacancy"
               [(ngModel)]="jobCtcInfo.noOfVaccancy"
              required/>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="form-group">
        <label>Job Type</label>
        <input    type="text"
                  class="form-control" 
                  name="jobType"
                  [(ngModel)]="jobCtcInfo.jobType"
                  list="jobType" 
                  (change)="onjobTypeSelect($event.target.value)" 
                  required/>
          <datalist id="jobType">
              <option [value]=""></option>
              <option *ngFor="let em of jobType">{{em.jobType}}</option>
        </datalist>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="form-group">
        <label>Qualification</label>
        <input    type="text"
                  class="form-control" 
                  name="qualification"
                  list="qualificationList" 
                  [(ngModel)]="jobCtcInfo.qualification"
                  (change)="onQualificationSelect($event.target.value)" 
                  required/>
          <datalist id="qualificationList">
              <option [value]=""></option>
              <option *ngFor="let em of qualificationList">{{em.qualName}}</option>
        </datalist>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <label>Employement Type</label>
        <input type="number"
                appAllownumbersonly
               class="form-control" 
               name="noOfVacancy"
               [(ngModel)]="jobCtcInfo.noOfVaccancy"
              required/>
      </div>
    </div>
  </div>
  <hr>
  <!-- <h4><strong>Interview</strong></h4><br> -->
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <label>WalkInDate</label>
        <input type="date" 
               class="form-control" 
               id="WalkInDate"
               name="WalkInDate"
                [(ngModel)]="jobInterviewInfo.walkinDate"
                [min]="today"
               >
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label>Walk-in Time</label>
        <input type="time" 
               class="form-control" 
               id="WalkInTime" 
               name="WalkInTime"
               [(ngModel)]="jobInterviewInfo.walkinTime"
               >

      </div>
    </div>

    <div class="col-sm-4">
      <div class="form-group">
        <label>Valid Until</label>
        <input type="date" 
                class="form-control" 
                id="validityUntil" 
                name="validityUntil"
                [(ngModel)]="jobInterviewInfo.validUntil"
                [min]="today">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <label>Contact Name</label>
        <input type="text" 
                class="form-control" 
                id="contactPerson"
                name="contactPerson"
                [(ngModel)]="jobInterviewInfo.contactName">
      </div>
    </div>

    <div class="col-sm-4">
      <div class="form-group">
        <label>Contact number</label>
        <input type="tel"  
               pattern="^[1-9][0-9]{9}$" 
               maxlength="10" 
               minlength="10" 
                class="form-control" 
                id="contactNumber"
                name="contactNumber"
                [(ngModel)]="jobInterviewInfo.contactNo">
      </div>
    </div>
  </div>

  
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <label style=" padding:0px; color: #7c7b7b; font-weight: 500"> Show Above contact to job Seeker: 
          <input type="radio" 
                  name="contactVisibility" 
                  style="margin: 0px; height: inherit"
                  [(ngModel)]="postedJob.jobVisibility"
                 value="true"
                 > Yes
          <input type="radio" 
                  name="contactVisibility" 
                  style="margin: 0px; height: inherit"
                  [(ngModel)]="postedJob.jobVisibility"
                  value="false"
                  >No
        </label>
      </div>
    </div>
  </div>
  <h4><strong>Job Description and Responsibilities</strong></h4>
  <div class="row">
    <app-text-editor [description]="postedJob.jobDescription"></app-text-editor> 
  </div>
  <!-- <h4><strong>About Company</strong></h4>
  <div class="row">
    <app-text-editor [company]="postedJob.aboutCompany"></app-text-editor>
  </div> -->
  <div class="row">
    <div class="edit-button">
      <button   type="button" class="btn btn_form5 pull-right" style="margin-top: 0px" (click)="onReset()">Reset</button>
      <button *ngIf="isJobUpdate" type="button" class="btn btn_form5 pull-right" style="margin-top: 0px" (click)="onSubmit(form,'InActive')">Update</button>
      <button type="button" class="btn btn_form5 pull-right" style="margin-top: 0px" (click)="onSubmit(form,'Active')">Save &amp; Publish</button>
      <button *ngIf="isJobSave" type="button" class="btn btn_form5 pull-right" style="margin-top: 0px" (click)="onSubmit(form,'Pending')">Save</button>
    </div>
    <p-calendar  [ngModelOptions]="{standalone: true}"
    ></p-calendar>
  </div>
</form>
</div>