<div class="border-newwww">
  <div class="candidate-form">
    <h4>Search Posted Jobs</h4>
    <div class="row">
      <div class="col-sm-5">
        <div class="form-group">
          <label>From</label>
          <input type="date" 
                  class="form-control" 
                  id="from"
                  [(ngModel)]="search.startDate">
          <img src="./assets/img/calender.png">
        </div>
      </div>

      <div class="col-sm-5">
        <div class="form-group">
          <label>To</label>
          <input type="date" 
                  class="form-control" 
                  id="to"
                  [(ngModel)]="search.endDate">
          <img src="./assets/img/calender.png">
        </div>
      </div>

      <div class="col-sm-2">
        <button type="button" class="btn btn_form3" (click)="searchJob()">Search</button>
      </div>
    </div>

  </div>
  <div class="manage-job-post-2">
    <div class="candidate-table">
      <table class="table">
        <thead>
          <tr>
            <th class="titlle_job">Job Title</th>
            <th>Status</th>
            <th>Matching Profile(S)</th>
          </tr>
        </thead>
        <tbody style="border: 0px">
          <tr *ngIf="jobIdsForDelete.length>1">
            <button  type="button" class="btn btn_form5" style="margin-top: 0px" (click)="deleteJob()">Delete Selected Job</button>
          </tr>
          <tr class="border-manage" *ngFor="let jobItem of postedJobList">
            <td class="officve-admin">
              <div class="icon-box-edit"><a (click)="navigateJobPost(jobItem.jobId)" style="cursor: pointer;"><i class="fas fa-pen"></i></a></div>
              <div class="office-admin-box">{{jobItem.jobInfo.jobTitle}}<br><span>Posted On: {{jobItem.jobPostedDate|date:'yyyy-MM-dd'}} 
              
              </span>
                <div class="clearfix"></div>
                <input ngModel (ngModelChange)="selectedJobForDelete(jobItem.jobId, $event)" type="checkbox">
                <div class="button-managepost">
                 
                  <button [disabled]="jobIdsForDelete.length>1" type="button" class="btn btn_form5" style="margin-top: 0px" (click)="deleteJob()">Delete</button>
                  <button type="button" class="btn btn_form5" style="margin-top: 0px" (click)="copyJob(jobItem.jobId)">Copy</button>
                </div>
              </div>
            </td>
            <td [ngStyle]="{'color':jobItem.jobStatus=='InActive'?'orange':'green'}">{{jobItem.jobStatus}}</td>
            <td>{{jobItem.matchingPercentage}}</td>
          </tr>
          <tr *ngIf="postedJobList.length<=0">
              <span>Records not found</span>
          </tr>
         
          

         
        </tbody>
      </table>
      <p-table >
        <ng-template pTemplate="header">
            <tr>
                <th>Vin</th>
                <th>Year</th>
                <th>Brand</th>
                <th>Color</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-car>
            <tr>
                <!-- <td>{{car.vin}}</td>
                <td>{{car.year}}</td>
                <td>{{car.brand}}</td>
                <td>{{car.color}}</td> -->
            </tr>
        </ng-template>
    </p-table>
      <div class="left_arrow">
        <ul>
          <li><a><i class="fas fa-chevron-left" (click)="previousPage()" disabled="paging"></i></a></li>
          <li><a><i class="fas fa-chevron-right" (click)="nextPage()" disabled="paging"></i></a></li>
        </ul>
      </div>
      <br><br>
      
    </div>
  </div>
</div>