<div class="master-head">
    <!-- Navigation -->
    <div class="top_head">
        <div class="container">
            <div class="col-sm-3">
                <div class="logo"><img src="./assets/img/logo.png" class="img-responsive"></div>
            </div>
            <div class="col-sm-9">
                <div class="signiup">
                    <ul>
                        <li><a href="sign-up.html"><i class="fas fa-user-plus"></i> Sign up</a></li>
                        <li><a routerLink="/login"><i class="fas fa-sign-in-alt"></i> Log in</a> </li>
                    </ul>
                </div>
                <nav id='cssmenu'>
                    <div class="button"></div>
                    <ul style="padding-left:0px;">
                        <li class=""><a href='index.html'>Home</a></li>
                        <li> <a href='#'>Jobs</a>
                            <ul>
                                <li><a href='#'>Jobs</a></li>
                                <li><a href='#'>Jobs</a></li>
                            </ul>
                        </li>
                        <li> <a href='z-emp-login.html'>Companies</a></li>
                        <li><a href='sign-up-build-resume.html'>Resume builder</a></li>
                        <li><a href='#'>Blog</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="topsearch">
        <div class="container">
            <h3>BIG jOBS <span>ARE AWAITING</span></h3>
            <div class="search">
                <form action="" method="get">
                    <div class="row">
                        <div class="col-sm-4"><input type="text" name="" class="form-control"
                                placeholder="Job Title, Keyword"></div>
                        <div class="col-sm-3"><input type="text" name="" class="form-control" placeholder="Experience">
                        </div>
                        <div class="col-sm-3"><input type="text" name="" class="form-control" placeholder="Location">
                        </div>
                        <div class="col-sm-2"><a herf="after-search.html"><input type="submit" name=""
                                    class="btn btn-danger" value="Submit"></a></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>