<div class="row">
  <div class="fillter-nav-job">
  <ul class="fillter-list">
  <li  class="dropdown"><a  data-toggle="dropdown">Salary <i class="fas fa-chevron-down"></i></a>
  <ul class="dropdown-menu">
            <li><a > Up</a></li>
            <li><a > Up</a></li>
            <li><a > Up</a></li>
            <li><a > Up</a></li>
        </ul>        
  </li>   
<li><a >Location<i class="fas fa-chevron-down"></i></a></li>   
<li><a >Functional Area<i class="fas fa-chevron-down"></i></a></li>   
<li><a >Industry<i class="fas fa-chevron-down"></i></a></li>   
<li><a >Experience<i class="fas fa-chevron-down"></i>
  <ul class="dropdown-menu">
    <li><a href="">0-1 years</a></li>
    <li><a href="">1-3 years</a></li>
    <li><a href="">3-6 years</a></li>
    <li><a href="">6-10 years</a></li>
    <li><a href="">10-15 years</a></li>
    <li><a href="">15 + years</a></li>
</ul> 
</a></li>
<li><a >Company<i class="fas fa-chevron-down"></i></a></li>
<li><a >Matching %<i class="fas fa-chevron-down"></i></a></li> 
  </ul>
     <div class="icon-box">
      <a  class="job-button">Apply</a>
      <a  class="job-button">Reset All</a>
      </div>
  </div>
</div>

<div class="matching-job">
  <!-- <p>Matching Jobs Based on the key skills mentioned in "Resume Builder" <a href="job-seeker-profile-fillter.html">Click
      Here </a>to Refine search on matching jobs</p> -->
  <div class="matching-job-bottom">
    <h4>Showing {{matchingJobModel.length}} results</h4>
    <div class="freshness-revelance">
      <ul>
        <li class="active"><a [routerLink]="" (click)="jobRefresh('Freshness')">Freshness</a></li>
        <li><a (click)="jobRefresh('Relevance')">Relevance</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="clearfix"></div>

<div class="job-seeker-right" *ngFor="let job of matchingJobModel">

  <div class="icon-boc"><i class="fas fa-business-time"></i></div>
  <div class="job-box-left">


    <h4 class="job_head"><a style="cursor:pointer"  (click)="jobDetails(job)">{{job.jobInfo.jobTitle}}</a></h4>
    <h5>{{job.companyName}}</h5>
    <ul class="job_list">
      <li><i class="fas fa-map-marker-alt"></i>{{job.jobInfo.city}}</li>
      <li><i class="fas fa-suitcase"></i>{{job.jobCtcInfo.minExp}} to {{job.jobCtcInfo.maxExp}} Years</li>
      <li><i class="fas fa-rupee-sign"></i>{{job.jobCtcInfo.annualCTC}} Lakhs</li>
    </ul>
    <p class="skills"><strong>Skills:</strong> {{job.jobInfo.keySkills}}</p>

  </div>

  <div class="job-box-right">
    <p class="matching">{{job.matchingPercentage}} % Matching Jobs</p>
    <a href="job-details.html" class="job-button">Apply this Job</a> <br>
    <!-- <a  class="job-button2">Save for letter</a> -->
    <div class="clearfix"></div>
    <p class="posted_text">Posted On: {{job.jobPostedDate}}</p>
  </div>
  <div class="clearfix"></div>
  <p class="skills aftersearchp"><strong>Job Description:</strong> {{replaceStrirng(job.jobDescription)}}
  </p>
</div>


<!-- 
<div class="job-seeker-right">

  <div class="icon-boc"><i class="fas fa-business-time"></i></div>
  <div class="job-box-left">


    <h4 class="job_head">Java Developer</h4>
    <h5>Trueinfo Solution Pvt</h5>
    <ul class="job_list">
      <li><i class="fas fa-map-marker-alt"></i>Chennai</li>
      <li><i class="fas fa-suitcase"></i>4 to 9 Years</li>
      <li><i class="fas fa-rupee-sign"></i>Lakhs</li>
    </ul>
    <p class="skills">skills:ANSI SQL,
      XML,JSON,Java Restful Web Services</p>

  </div>

  <div class="job-box-right">
    <p class="matching">98% Matching Jobs</p>
    <a  class="job-button">Apply this Job</a> <br>
    <a  class="job-button2">Save for letter</a>
    <div class="clearfix"></div>
    <p class="posted_text">Posted Yesterday</p>
  </div>
  <div class="clearfix"></div>
  <p class="skills aftersearchp">Must have 4 to 9 years of experience in J2EE strong hands on experience in
    java Technologies (JSP,JMS,J2EE, Servlets, Etc.) strong hands on experience in Java Restful Web
  </p>
</div>
<div class="job-seeker-right">

  <div class="icon-boc"><i class="fas fa-business-time"></i></div>
  <div class="job-box-left">


    <h4 class="job_head">Java Developer</h4>
    <h5>Trueinfo Solution Pvt</h5>
    <ul class="job_list">
      <li><i class="fas fa-map-marker-alt"></i>Chennai</li>
      <li><i class="fas fa-suitcase"></i>4 to 9 Years</li>
      <li><i class="fas fa-rupee-sign"></i>Lakhs</li>
    </ul>
    <p class="skills">skills:ANSI SQL,
      XML,JSON,Java Restful Web Services</p>

  </div>

  <div class="job-box-right">
    <p class="matching">98% Matching Jobs</p>
    <a  class="job-button">Apply this Job</a> <br>
    <a  class="job-button2">Save for letter</a>
    <div class="clearfix"></div>
    <p class="posted_text">Posted Yesterday</p>
  </div>
  <div class="clearfix"></div>
  <p class="skills aftersearchp">Must have 4 to 9 years of experience in J2EE strong hands on experience in
    java Technologies (JSP,JMS,J2EE, Servlets, Etc.) strong hands on experience in Java Restful Web
  </p>
</div> -->
<div class="left_arrow">
  <ul>
    <li><a href=""><i class="fas fa-chevron-left"></i></a></li>
    <li><a href=""><i class="fas fa-chevron-right"></i></a></li>
  </ul>
</div>
