<div class="row">
  <div class="col-sm-9 custom-margin custom-top">
    <div class="pricing-main">
      <div class="row">
        <div class="col-sm-4">
          <div class="pricing-box">
            <h4><i class="fas fa-rupee-sign"></i> 4,999</h4>
            <div class="pricing-border"></div>
            <h5>3 Days Resdex</h5>
            <i class="fas fa-plus plus_size"></i>
            <h5>1 Hot Vacancies**</h5>
            <p style="margin-top: 10px;">150 Cv Access</p>
            <p>150 Emails</p>
            <div class="pricing-border-2"></div>
            <div class="clearfix"></div>
            <a href="#" class="service-button">Buy Now</a>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="pricing-box">
            <h4><i class="fas fa-rupee-sign"></i> 7,099</h4>
            <div class="pricing-border"></div>
            <h5>3 Days Resdex</h5>
            <br><br>
            <br><br>
            <p style="margin-top: 10px;">350 Cv Access</p>
            <p>3500 Emails</p>
            <div class="pricing-border-2"></div>
            <div class="clearfix"></div>
            <a href="#" class="service-button">Buy Now</a>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="pricing-box" style="padding: 0px;">
            <div class="pricing-tittle-head">
              <h4><i class="fas fa-rupee-sign"></i> 4,999</h4>
              <img src="./assets/img/popular.png">
            </div>
            <div class="padding_pricing">
              <h5>7 Days Resdex</h5>
              <i class="fas fa-plus plus_size"></i>
              <h5>2 Hot Vacancies**</h5>
              <p style="margin-top: 10px;">350 Cv Access</p>
              <p>3500 Emails</p>
              <div class="pricing-border-2"></div>
              <div class="clearfix"></div>
              <a href="#" class="service-button">Buy Now</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="pricing-box">
            <h4><i class="fas fa-rupee-sign"></i> 14,000</h4>
            <div class="pricing-border"></div>
            <h5>15 Days Resdex</h5>
            <i class="fas fa-plus plus_size"></i>
            <h5>2 Hot Vacancies**</h5>
            <p style="margin-top: 10px;">700 Cv Access</p>
            <p>7000 Emails</p>
            <div class="pricing-border-2"></div>
            <div class="clearfix"></div>
            <a href="#" class="service-button">Buy Now</a>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="pricing-box">
            <h4><i class="fas fa-rupee-sign"></i> 25,500</h4>
            <div class="pricing-border"></div>
            <h5>1 Month Resdex</h5>
            <i class="fas fa-plus plus_size"></i>
            <h5>3 Hot Vacancies**</h5>
            <p style="margin-top: 10px;">200 Cv Access</p>
            <p>2000 Emails</p>
            <div class="pricing-border-2"></div>
            <div class="clearfix"></div>
            <a href="#" class="service-button">Buy Now</a>
          </div>
        </div>
      </div>
    </div>
    <br>
    <img src="./assets/img/add2.jpg" class="img-responsive">
  </div>
</div>