<div class="master-head" style="background: #005a7d;">
  <!-- Navigation -->
  <div class="top_head">
    <div class="container">
      <div class="col-sm-3">
        <div class="logo"><img src='./assets/img/logo.png' class="img-responsive"></div>
      </div>
      <div class="col-sm-9">
        <div class="top-nav-img">
          <div class="signiup">
            <ul>
              <li><a><img src='./assets/img/whit-icon.png'></a></li>
              <li><a><img src='./assets/img/bell.png'></a></li>
              <li><a><img [src]="imgUrl" class="circular--square"></a>
              <br/><a (click)="logout()" style="cursor: pointer"><i class="fas fa-sign-out-alt"></i>Logout</a> 
              </li>
            </ul>
          </div>
        </div>
        <nav id='cssmenu'>
          <div class="button"></div>
          <ul style="padding-left:0px;">
            <li class=""><a routerLink='/seeqem/home'>Home</a></li>
            <li><a>Jobs</a></li>
            <li><a routerLink="/seeqem/emp-login">Companies</a></li>
            <li><a>Resume builder</a></li>
            <li><a>Blog</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>