<!-- <body id="page-top">
  <section id="featured" class="pinside30">
    <div class="container">
      <div class="row">
        <div class="col-sm-9"> -->
          <div class="setting-main">
            <div class="setting-inner">
              <div class="row">
                <div class="col-sm-4">
                  <h4>Ask Vinod to create HTML for TO DO</h4>
                </div>
                <div class="col-sm-8">
                  <div class="text-name">
                    <h3>John Williams </h3>
                    <div class="icon-box-edit"><a href="#"><i class="fas fa-pen"></i></a></div>
                  </div>
                </div>
              </div>
            </div>
           
            </div>

          <!-- </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-12"><img src="assets/img/add3.jpg" class="img-responsive"></div>
      </div>
    </div>
  </section> -->