  <section  id="featured" class="pinside30">
      <div lass="col-sm-8">
        <!-- <div class="col-sm-4 bg-gradient">
          <!-- <div class="creat-resume-left">
            <ul>
              <li routerLinkActive="active"><a routerLink="personal-info">Personal Info</a> <img src="assets/img/tick.png" *ngIf="pi"></li>
              <li routerLinkActive="active"><a routerLink="professional-summary">Professional Summary</a><img src="assets/img/tick.png" *ngIf="ps"></li>
              <li routerLinkActive="active"><a routerLink="experience">Experience</a><img src="assets/img/tick.png" *ngIf="ex"></li>
              <li routerLinkActive="active"><a routerLink="education">Education</a><img src="assets/img/tick.png" *ngIf="ed"></li>
              <li routerLinkActive="active"><a routerLink="skills">Skills</a><img src="assets/img/tick.png" *ngIf="ss"></li>
              <li routerLinkActive="active"><a routerLink="training">Training</a><img src="assets/img/tick.png" *ngIf="tn"></li>
              <li routerLinkActive="active"><a routerLink="certificate">Certification</a><img src="assets/img/tick.png" *ngIf="ca"></li>
              <li routerLinkActive="active"><a routerLink="awards">Awards</a><img src="assets/img/tick.png" *ngIf="ad"></li>
              <li routerLinkActive="active"><a routerLink="language">Language</a><img src="assets/img/tick.png" *ngIf="lg"></li>
              <li routerLinkActive="active"><a routerLink="contact-details">Contact Details</a><img src="assets/img/tick.png" *ngIf="cd"></li>
              <li routerLinkActive="active"><a routerLink="other-details">Other Details</a><img src="assets/img/tick.png" *ngIf="od"></li>
              <li routerLinkActive="active"><a routerLink="r-and-d">Review and Download</a><img src="assets/img/tick.png" *ngIf="rd"></li>
            </ul>
          </div> 
        </div> -->
        <router-outlet></router-outlet>
      </div>
    <!-- <div class="clearfix"></div><br><br>
    <div class="container">
      <div class="row">
        <div class="col-sm-12"><img src="assets/img/add3.jpg" class="img-responsive"></div>
      </div>
    </div> -->
  </section>