
<form #form="ngForm" (ngSubmit)="updateNotification(form)" novalidate>
<div class="empoyer-accoun-form">
  <div class="checkbox">
    <label><input type="checkbox" name="emailNotificationAlert" [(ngModel)]="recruiterModel.notification.emailNotificationAlert" (click)="notificationsStatus($event.target.checked)"><span style="color: #908f8f">Enable Email Notifications</span></label>
  </div><br>
  <div class="checkbox">
    <label><input type="checkbox"  name="foundSameProfileAlert" [(ngModel)]="recruiterModel.notification.foundSameProfileAlert" (click)="notiMatchingProfile($event.target.checked)"><span>Alert me when matching profile found</span></label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox" name="myAccountExpiredAlert" [(ngModel)]="recruiterModel.notification.myAccountExpiredAlert" (click)="notiAccExpired($event.target.checked)"><span>Alert me when my account is getting
        expired</span></label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox" name="postedJobExpiredAlert" [(ngModel)]="recruiterModel.notification.postedJobExpiredAlert" (click)="notiJobExpired($event.target.checked)"><span>Alert me when job is expired</span></label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox" name="postedJobAlert"  [(ngModel)]="recruiterModel.notification.postedJobAlert" (click)="notiJobPosted($event.target.checked)"><span>Alert when job is posted</span></label>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <button type="submit" class="btn btn_form5 pull-right" style="margin-top: 0px">Update Notifications</button>
    </div>
  </div>
</div>
</form> 