<section id="featured" class="pinside30">
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <div class="">
          <div class="icon-boc"><i class="fas fa-business-time"></i></div>
          <div class="job-box-left">
            <h4 class="job_head">{{jobInfo.jobTitle}}</h4>
            <h5>{{matchingJobModel.companyName}}</h5>
            <ul class="job_list">
              <li><i class="fas fa-map-marker-alt"></i>{{jobInfo.city}}</li>
              <li><i class="fas fa-suitcase"></i>{{jobCtcInfo.minExp}} to {{jobCtcInfo.maxExp}} Years</li>
              <li><i class="fas fa-rupee-sign"></i>{{jobCtcInfo.annualCTC}} Lakhs</li>
            </ul>
            <p class="posted_text">Posted On: {{matchingJobModel.jobPostedDate}}</p>
          </div>

          <div class="job-box-right">
            <button type="button" class="job-button">All jobs By this recuiter</button> <br>
            <!-- <button type="button" class="job-button" (click)="back()">Back</button><br> -->
            <button type="button" class="job-button">Apply</button>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="border1"></div>
        <div class="text_under pinside30">
          <h4 class="job_head">Job Description</h4>
          <p class="mt20">{{replaceStrirng(matchingJobModel.jobDescription)}} </p>
          
            
            <h4 class="job_head pdt30">Industry</h4>
            <p>{{jobCtcInfo.industry}}</p>

            <h4 class="job_head pdt30">Functional Area</h4>
            <p>{{jobCtcInfo.functionalArea}}</p>

            <h4 class="job_head pdt30">Education</h4>
            <p>{{jobCtcInfo.qualification}}</p>

            <h4 class="job_head pdt30">Job Type</h4>
            <p>{{jobCtcInfo.jobType}}</p>
            
            <h4 class="job_head pdt30">Gender</h4>
          <p> {{jobCtcInfo.gender}}</p>
          
          <h4 class="job_head pdt30">No Of Vaccancy</h4>
          <p> {{jobCtcInfo.noOfVaccancy}}</p>
          
          <h4 class="job_head pdt30">Skills</h4>
          <p> {{jobInfo.keySkills}}</p>
          

          <h4 class="job_head pdt30">Interview</h4>
          <p>Walk-in Date: {{jobInterviewInfo.walkinDate}}<br>Walk-in Time: {{jobInterviewInfo.walkinTime}}</p>

        </div>
      </div>

      <div class="col-sm-3">
        <div class="bg_job_color">
          <h5>Similar Jobs</h5>
          <div *ngFor="let job of jobList">
          <h4 class="job_head">{{job.jobInfo.jobTitle}}</h4>
          <h5 class="similar-text">{{job.companyName}}</h5>
          <ul class="job_list">
            <li><i class="fas fa-map-marker-alt"></i>{{job.jobInfo.city}}</li>
            <li><i class="fas fa-suitcase"></i>{{job.jobCtcInfo.minExp}} to {{job.jobCtcInfo.maxExp}} Years</li>
            <li><i class="fas fa-rupee-sign"></i>{{job.jobCtcInfo.annualCTC}} Lakhs</li>
          </ul>
          <p>skills:{{job.jobInfo.keySkills}} </p>
          <div align="right"> <a href="" class="apply">Apply</a></div>
          <div class="similar-boredr-bottom"></div>
        </div>

          <!-- <h4 class="job_head">Java developer</h4>
          <h5 class="similar-text">Trueinfo Solution Pvt</h5>
          <ul class="job_list">
            <li><i class="fas fa-map-marker-alt"></i>Chennai</li>
            <li><i class="fas fa-suitcase"></i>4 to 9 Years</li>
            <li><i class="fas fa-rupee-sign"></i>Lakhs</li>
          </ul>
          <p>skills:ANSI SQL, <BR> XML,JSON,Java Restful Web </p>
          <div align="right"> <a href="" class="apply">Apply</a></div>
          <div class="similar-boredr-bottom"></div>

          <h4 class="job_head">Java developer</h4>
          <h5 class="similar-text">Trueinfo Solution Pvt</h5>
          <ul class="job_list">
            <li><i class="fas fa-map-marker-alt"></i>Chennai</li>
            <li><i class="fas fa-suitcase"></i>4 to 9 Years</li>
            <li><i class="fas fa-rupee-sign"></i>Lakhs</li>
          </ul>
          <p>skills:ANSI SQL, <BR> XML,JSON,Java Restful Web </p>
          <div align="right"> <a href="" class="apply">Apply</a></div> -->
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <!-- <div class="col-sm-3"><img src="img/add1.jpg" class="img-responsive"></div>
      <div class="col-sm-9"><img src="img/add2.jpg" class="img-responsive"></div> -->
    </div>
  </div>
</section>