<!-- 
<body id="page-top">
  <section id="featured" class="pinside30">
    <div class="container">
      <div class="row">
        <div class="col-sm-9"> -->
          <div class="my-application bgwhite">
            <h4 class="job_head">My Applications</h4><br>
            <div class="msg-box">
              <table class="table table-bordered">
                <tbody>
                  <tr class="icon-box">
                    <td class="fixed-width">Applied Jobs</td>
                    <td>
                      <div class="left-msg-box">
                        <h4>15 </h4>
                      </div>
                    </td>
                  </tr>
                  <tr class="icon-box">
                    <td class="fixed-width"> Profile Viewed</td>
                    <td>
                      <div class="left-msg-box">
                        <li><a href="profile-viewed.html">10</a></li>
                      </div>
                    </td>
                  </tr>
                  <tr class="icon-box">
                    <td class="fixed-width">Resume Downloaded</td>
                    <td>
                      <div class="left-msg-box">
                        <h4>3 </h4>
                      </div>
                    </td>
                  </tr>
                  <tr class="icon-box">
                    <td class="fixed-width">Contact By Email</td>
                    <td>
                      <div class="left-msg-box">
                        <h4>7 </h4>
                      </div>
                    </td>
                  </tr>
                  <tr class="icon-box">
                    <td class="fixed-width">Shortlisted</td>
                    <td>
                      <div class="left-msg-box">
                        <h4> 5</h4>
                      </div>
                    </td>
                  </tr>
                  <tr class="icon-box">
                    <td class="fixed-width">Interview Status</td>
                    <td>
                      <div class="left-msg-box">
                        <h4>Scheduled </h4>
                      </div>
                    </td>
                  </tr>
                  <tr class="icon-box">
                    <td class="fixed-width">Offer Letter</td>
                    <td>
                      <div class="left-msg-box">
                        <h4>Received</h4>
                      </div>
                    </td>
                  </tr>
                  <tr class="icon-box">
                    <td class="fixed-width"><a href="#" class="down-arrow">More</a><i
                        class="fas fa-chevron-down down-arrow-icon"></i></td>
                    <td>
                      <div class="left-msg-box">
                        <h4></h4>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        <!-- </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-12"><img src="assets/img/add3.jpg" class="img-responsive"></div>
      </div>
    </div>
  </section> -->