<!-- <body id="page-top">
  <section id="featured" class="pinside30">
    <div class="container">
      <div class="row">
        <div class="col-sm-9"><br><br> -->
          <h4 class="block_head">Your profile will not be searchable by tha company once you add them in the block list below:</h4>
          <form action="/action_page.php">
            <div class="language-form-right">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label style="color: #636363;margin-left: 0px;">Block/Unblock Company(s)</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter company name"
                      style="    border: 1px solid #abaaaa; height: 55px;">

                      <input   type="text"
                      class="form-control" 
                      id="blockCompany"
                      name="blockCompany"
                      placeholder="Enter company name"
                      [(ngModel)]="blockCompany.blockEmployerName" 
                      list="blockCompany"
                      (change)="onCompanySelect($event.target.value)" required/>
                     <datalist id="blockCompany">
                         <option [value]=""></option>
                         <option  *ngFor="let c of jobSeekerModel.blockCompanies">{{c.blockEmployerName}}</option>
                     </datalist>

                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn_form3">Add Company</button>
            </div>
            <div class="clearfix"></div><br><br>
            <div class="row">
              <table>
                <thead>
                  <tr>
                    <th>Company Name</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr  style="cursor: pointer;"> 
                    <td>HCL</td>
                      <td><button class="btn btn_form3">Edit</button>&nbsp;<button class="btn btn_form3">Delete</button></td>
                  </tr>
                  <tr  style="cursor: pointer;"> 
                    <td>IBM</td>
                      <td><button class="btn btn_form3">Edit</button>&nbsp;<button class="btn btn_form3">Delete</button></td>
                  </tr>
                  <tr  style="cursor: pointer;"> 
                    <td>WIPRO</td>
                      <td><button class="btn btn_form3">Edit</button>&nbsp;<button class="btn btn_form3">Delete</button></td>
                  </tr>
                </tbody>
                </table>
          </div>
          
          </form>
        <!-- </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-12"><img src="assets/img/add3.jpg" class="img-responsive"></div>
      </div> 
    </div>
  </section> -->

  