<!-- <body id="page-top">
  <section id="featured" class="pinside30">
    <div class="container">
      <div class="row">
        <div class="col-sm-9"><br><br> -->
          <h4 class="block_head">Your profile will not be searchable by th company once you add them in the block list below:</h4>
          <form  #form=ngForm (keydown.enter)="$event.preventDefault()" novalidate>
            <div class="language-form-right">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label style="color: #636363;margin-left: 0px;">Block/Unblock Company(s)</label>
                      <!-- <input   type="text"
                      class="form-control" 
                      id="blockCompany"
                      name="blockCompany"
                      placeholder="Enter company name"
                      style=" border: 1px solid #abaaaa; height: 55px;"
                      [(ngModel)]="blockCompany.blockEmployerName" 
                      list="blockCompany"
                      (change)="onCompanySelect($event.target.value)" required/>
                     <datalist id="blockCompany">
                         <option [value]=""></option>
                         <option  *ngFor="let c of jobSeekerModel.blockCompanies">{{c.blockEmployerName}}</option>
                     </datalist> -->

                     <input   type="text"
                     style=" border: 1px solid #abaaaa; height: 55px;"
                     class="form-control" 
                     name="company"
                     placeholder="Enter company name"
                     [(ngModel)]="blockCompany.blockEmployerName" 
                     list="companyName"
                     (change)="onCompanySelect($event.target.value)" required/>
                    <datalist id="companyName">
                        <option [value]=""></option>
                        <option  *ngFor="let c of blockCompanyList">{{c.name}}</option>
                    </datalist>


                  </div>
                </div>
              </div>
              <!-- <button type="submit" class="btn btn_form3">Add Company</button> -->
            </div>
            <div class="clearfix"></div><br><br>
            <div class="row">
              <table *ngIf="blockCompanyList.length>0">
                <thead>
                  <tr>
                    <th>Company Name</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let block of jobSeekerModel.blockCompanies" style="cursor: pointer;"> 
                    <td>{{block.blockEmployerName}}</td>
                    <td>
                      <button class="btn btn_form3" *ngIf="isDelete" (click)="delete(block)">Delete</button></td>
                  </tr>
                </tbody>
                </table>
          </div>
          <div class="row">
            <div class="col-sm-6 col-xs-6"> 
              <button type="submit" class="btn btn_form3" *ngIf="isAdd"(click)="add(form)">Add Company Details</button>
            
              
            </div>
            <div class="col-sm-6 col-xs-6"> 
              <button type="submit" class="btn btn_form4" *ngIf="isSave" (click)="next()">Home</button>
              <button type="submit" class="btn btn_form4" *ngIf="isSave" (click)="save()">Save</button>
            
            </div>
          </div>
          </form>
        <!-- </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-12"><img src="assets/img/add3.jpg" class="img-responsive"></div>
      </div> 
    </div>
  </section> -->

  