<div class="border-newwww">
<div class="row">
  <div class="col-sm-12 custom-margin">
    <div class="auto-match-main">
      <div class="fillter-nav-job">
        <ul class="fillter-list">
          <li class="dropdown"><a href="#" data-toggle="dropdown">Job Type <i class="fas fa-chevron-down"></i></a>
            <ul class="dropdown-menu">
              <li><a href="#"> Up</a></li>
              <li><a href="#"> Up</a></li>
              <li><a href="#"> Up</a></li>
              <li><a href="#"> Up</a></li>
            </ul>
          </li>
          <li><a href="#">Industy<i class="fas fa-chevron-down"></i></a></li>
          <li><a href="#">Functional Area<i class="fas fa-chevron-down"></i></a></li>
          <li><a href="#">Qualification<i class="fas fa-chevron-down"></i></a></li>
          <li><a href="#">Skills Salary<i class="fas fa-chevron-down"></i></a></li>
        </ul>
        <div class="icon-box">
          <a href="#"><i class="fas fa-angle-double-right"></i></a>
        </div>
      </div>
      <div class="auto-match-nav">
        <div class="col-sm-4">
          <h4>{{matchingSeekerModel.length}} Job Seeker Found</h4>
        </div>
        <div class="col-sm-8">
          <form action="/action_page.php">
            <div class="auto-match-selected">
              <div class="form-group">
                <label> <input type="checkbox" id="AgreeTermsp" name="accept_terms" value="Yes"> Selected 10</label>
              </div>
              <div class="form-group match-form2">
                <label> <input type="checkbox" id="AgreeTermsp" name="accept_terms" value="Yes"> All</label>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="job-seeker-right" *ngFor="let match of matchingSeekerModel">
        <div class="icon-boc">
          <div class="form-group">
            <input type="checkbox" id="AgreeTermsp" name="accept_terms" value="Yes">
            <img src="./assets/img/employer-profile.png"> </div>
        </div>
        <div class="job-box-left">
          <h4 class="job_head">{{match.personalInfo.firstName}} {{match.personalInfo.lastName}}</h4>
          <h5>Professional Photo Editior</h5>
          <ul class="job_list">
            <li><i class="fas fa-map-marker-alt"></i>{{match.personalInfo.city}}</li>
            <li><i class="fas fa-phone"></i>{{match.personalInfo.phoneNo}}</li>
            <li><i class="fas fa-envelope"></i>{{match.personalInfo.email}}</li>
          </ul>
          <p class="skills">skills:ANSI SQL,
            XML,JSON,Java Restful Web Services</p>
          <p class="skills">Must have 4 to 9 years of experience in J2EE strong hands on experience
          </p>
        </div>

        <div class="job-box-right">
          <div class="clearfix"></div>
          <button type="button" class="job-button" style="display: block;">Download Profile</button>
          <button type="button"  class="job-button" style="display: block;">{{match.profileMatchingPercentage}}% Matching</button>
          <button type="button" class="posted_text">Click here to Shortlist</button>
          <div class="chat-now"><i class="fas fa-circle"></i><button type="button"> Chat Now</button></div>
        </div>
        <div class="clearfix"></div>
      </div>
      <!-- <div class="job-seeker-right">
        <div class="icon-boc">
          <div class="form-group">
            <input type="checkbox" id="AgreeTermsp" name="accept_terms" value="Yes">
            <img src="./assets/img/employer-profile2.png"> </div>
        </div>
        <div class="job-box-left">
          <h4 class="job_head">Rafiqul l.</h4>
          <h5>Professional Photo Editior</h5>
          <ul class="job_list">
            <li><i class="fas fa-map-marker-alt"></i>Chennai</li>
            <li><i class="fas fa-phone"></i>9456845200</li>
            <li><i class="fas fa-envelope"></i>sdf@gmail.com</li>
          </ul>
          <p class="skills">skills:ANSI SQL,
            XML,JSON,Java Restful Web Services</p>
          <p class="skills">Must have 4 to 9 years of experience in J2EE strong hands on experience
          </p>
        </div>

        <div class="job-box-right">
          <div class="clearfix"></div>
          <a href="#" class="job-button" style="display: block;">98% Matching</a>
          <a href="" class="posted_text">Click here to Shortlist</a>
          <div class="chat-now"><i class="fas fa-circle"></i><a href=""> Chat Now</a></div>
        </div>
        <div class="clearfix"></div>
      </div> -->
    </div>
  </div>
</div>
</div>