<!-- <div class="row">
  <input #fileInput style="display:none" type="file" (change)="onFileSelected($event)" accept="image/*">
  <button type="button" (click)="fileInput.click()">Pick File</button>
  <button type="button" (click)="onUpload()">Upload</button>
  <img  [src]="imgUrl" height="200" *ngIf="imgUrl"> 
</div> -->

<div class="row">
  <div class="col-sm-6">
      <div class="profile-uplod">
          <div class="form-group">
              <label>File: </label>
             <input   type="file" 
                      class="form-control" 
                      name="recruiterPic"
                      id="recruiterPic" 
                      placeholder="e.g. computer/file/self"
                      (change)="onFileSelected($event)" 
                      accept="image/*"> 
                     <div class="clearfix"></div>
                     <div *ngIf="message">{{message}}</div>
              <button type="button"
                      class="btn btn_form5" 
                      style="margin-top: 0px"
                      (click)="onUpload()">
                      <i class="fas fa-upload"></i> {{imgUrl.buttonText}}
              </button><div>{{uploadResponse}}</div>
          </div>
      </div>
  </div>
  <div class="col-sm-6">
      <img [src]="imgUrl.image"  height="150" width="150"  *ngIf="imgUrl" class="img-responsive">
  </div>
</div><br>