<div class="row">
  <div class="col-sm-9 custom-margin custom-top"><br>
    <div class="row">
      <div class="col-sm-4">
        <div class="employer-dashboard-box">
          <img src='./assets/img/icon/e1.png' class="img-responsive">
          <h4>Job Posted</h4>
          <p>2362</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="employer-dashboard-box">
          <img src='./assets/img/icon/e3.png' class="img-responsive">
          <h4>No of Active Jobs</h4>
          <p>2362</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="employer-dashboard-box">
          <img src='./assets/img/icon/e2.png' class="img-responsive">
          <h4>Remaining Job Posting</h4>
          <p>2362</p>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="employer-dashboard-box">
          <img src='./assets/img/icon/e4.png' class="img-responsive">
          <h4>Views</h4>
          <p>2362</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="employer-dashboard-box">
          <img src='./assets/img/icon/e5.png' class="img-responsive">
          <h4>Application Received</h4>
          <p>105652</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="employer-dashboard-box">
          <img src='./assets/img/icon/e5.png' class="img-responsive">
          <h4>No of Candidates Selected</h4>
          <p>10500</p>
        </div>
      </div>
    </div>

    <div class="z-employer-box">
      <h4>Job Wise Statistics</h4>
      <div class="responsive-table">
        <table class="table">
          <thead>
            <tr>
              <th>Job Title</th>
              <th> Date</th>
              <th>Status </th>
              <th>Views </th>
              <th>Application Received</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Office Admin</td>
              <td>11/11/18</td>
              <td>Active </td>
              <td>50</td>
              <td>20</td>
            </tr>
            <tr>
              <td>Office Admin</td>
              <td>11/11/18</td>
              <td>Active </td>
              <td>50</td>
              <td>20</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-12">
    <div class="z-employer-box">
      <h4>Interview Vs Job Openings</h4>
      <div class="responsive-table">
        <table class="table">
          <thead>
            <tr>
              <th>Date</th>
              <th>Job Title</th>
              <th>Shortlisted </th>
              <th>Interviewed</th>
              <th>Received Offer</th>
              <th>Joined</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>11/11/18</td>
              <td>Office Admin</td>
              <td>50</td>
              <td>50</td>
              <td>20</td>
              <td>20</td>
            </tr>
            <tr>
              <td>11/11/18</td>
              <td>Office Admin</td>
              <td>50</td>
              <td>50</td>
              <td>20</td>
              <td>20</td>
            </tr>
            <tr>
              <td>11/11/18</td>
              <td>Office Admin</td>
              <td>50</td>
              <td>50</td>
              <td>20</td>
              <td>20</td>
            </tr>
            <tr>
              <td>11/11/18</td>
              <td>Office Admin</td>
              <td>50</td>
              <td>50</td>
              <td>20</td>
              <td>20</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-7">
    <div class="z-employer-box">
      <h4>Candidate Reject Reasons</h4>
      <img src='./assets/img/graph/ep1.png' class="img-responsive">
    </div>
  </div>

  <div class="col-sm-5">
    <div class="z-employer-box">
      <h4>Location Wise Selection</h4>
      <img src='./assets/img/graph/ep2.png' class="img-responsive">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 employer-box2">
    <div class="z-employer-box">
      <h4>Reject Reasons Comments</h4>
      <div class="responsive-table">
        <table class="table">
          <tbody>
            <tr>
              <td>Technical Skills Are Not Matching</td>
              <td>16.9%</td>
            </tr>
            <tr>
              <td>Salary Package Is Too High</td>
              <td>15.8%</td>

            </tr>
            <tr>
              <td>Candidate Has No Experience to Manage The Big Projects</td>
              <td>14.7%</td>

            </tr>
            <tr>
              <td>Candidate Is not Willing To Work On Support Project</td>
              <td>13.9%</td>

            </tr>

            <tr>
              <td>Communication Skill is not Good</td>
              <td>12.6%</td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="z-employer-box">
      <h4>Candidates By Source</h4>
      <img src='./assets/img/graph/ep3.png' class="img-responsive">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="z-employer-box">
      <h4>Recruiter's Performance Report</h4>
      <img src='./assets/img/graph/ep4.png' class="img-responsive">
    </div>
  </div>
</div>

<!-- <div class="row">
  <div class="col-sm-12">
    <img src='./assets/img/add3.jpg' class="img-responsive">
  </div>
</div> -->


