<!-- <body id="page-top">
  <section id="featured" class="pinside30">
    <div class="container">
      <div class="row">
        <div class="col-sm-9"> -->
          <div class="setting-main">
            <div class="setting-inner">
              <div class="row">
                <div class="col-sm-4">
                  <h4>Ask Vinod to create HTML for TO DO</h4>
                </div>
                <div class="col-sm-8">
                  <div class="text-name">
                    <h3>John Williams </h3>
                    <div class="icon-box-edit"><a href="#"><i class="fas fa-pen"></i></a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="setting-inner">
              <div class="row">
                <div class="col-sm-4">
                  <h4>Email</h4><span class="email-user">(Username)</span>
                </div>
                <div class="col-sm-8">
                  <div class="text-name"><a class="verify" href="#"><i
                        class="fas fa-exclamation"></i><span>johnwilliams@example.com </span></a>
                    <div class="icon-box-edit"><a href="#"><i class="fas fa-pen"></i></a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="setting-inner">
              <div class="row">
                <div class="col-sm-4">
                  <h4>Phone Number</h4>
                </div>
                <div class="col-sm-8">
                  <div class="text-name"><a class="verify-green" href="#"><i class="fas fa-check"></i><span>202-555-0145
                      </span></a>
                    <div class="icon-box-edit"><a href="#"><i class="fas fa-pen"></i></a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="setting-inner">
              <div class="row">
                <div class="col-sm-4">
                  <h4>Password</h4>
                </div>
                <div class="col-sm-8">
                  <div class="text-name">
                    <h3 class="passs">...... </h3><a href="#" class="password-chang">Change Password </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="setting-inner">
              <div class="row">
                <div class="col-sm-4">
                  <h4>Email Notifications</h4>
                </div>
                <div class="col-sm-8">
                  <div class="text-name"><a class="verify-green" href="#"><img src="assets/img/green.png" width="20px"
                        style="margin-top: -5px;"><span>Enabled </span></a><a href="#" class="password-chang">Disabled
                    </a></div>
                </div>
              </div>
            </div>
            <div class="setting-inner">
              <div class="row">
                <div class="col-sm-4">
                  <h4>Profile Status</h4>
                </div>
                <div class="col-sm-8">
                  <div class="text-name"><a class="verify-green" href="#"><span>Active </span></a><a href="#"
                      class="password-chang" style="color: #767676;">Inactive </a></div>
                </div>
              </div>
            </div>
            <div class="setting-inner">
              <div class="row">
                <div class="col-sm-4">
                  <h4>Alerts</h4>
                </div>
                <div class="col-sm-8">
                  <div class="text-name">
                    <div class="form-group check-list">
                      <label class="checkbox-inline"><input type="checkbox" id="AgreeTermsp" name="accept_terms"
                          value="Yes"> Alert me when Matching Jobs Found</label>
                      <label class="checkbox-inline"><input type="checkbox" id="AgreeTermsp" name="accept_terms"
                          value="Yes"> Alert me when my account is getting expired</label>
                      <label class="checkbox-inline"><input type="checkbox" id="AgreeTermsp" name="accept_terms"
                          value="Yes"> Alert me when my Employer is shortlisted my profile</label>
                      <label class="checkbox-inline"><input type="checkbox" id="AgreeTermsp" name="accept_terms"
                          value="Yes"> Alert me when interview status gets changed</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="setting-inner">
              <div class="row">
                <div class="col-sm-4">
                  <h4>Sms Notifications</h4>
                </div>
                <div class="col-sm-8">
                  <div class="text-name"><a class="verify-green" href="#"><span>Disabled </span></a><a href="#"
                      class="password-chang">Enabled </a></div>
                </div>
              </div>
            </div>
          </div>
        <!-- </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-12"><img src="assets/img/add3.jpg" class="img-responsive"></div>
      </div>
    </div>
  </section> -->