<div class="empoyer-accoun-form">
  <h4>Job Details</h4>
  <div class="row">
    <div class="col-sm-8">
      <div class="form-group">
        <label>Job Title</label>
        <input type="email" class="form-control" id="email" placeholder="Part Time Accountant Required">

      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label>Job Type</label>
        <select class="form-control" name="marital">
          <option value="">Bank</option>
          <option value="Married">1</option>
          <option value="Single">1</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <label>Skills</label>
        <input type="email" class="form-control" id="email" placeholder="Good at Accounting">

      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label>Country</label>
        <input type="email" class="form-control" id="email" placeholder="India">

      </div>
    </div>


    <div class="col-sm-4">
      <div class="form-group">
        <label>City</label>
        <input type="email" class="form-control" id="email" placeholder="Mumbai">

      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <label>State</label>
        <input type="email" class="form-control" id="email" placeholder="Maharashtra">

      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label>Zip Code</label>
        <input type="email" class="form-control" id="email" placeholder="400035">

      </div>
    </div>



  </div>

  <hr>

  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <label>Annual CTC</label>
        <input type="email" class="form-control" id="email" placeholder="">

      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label>Qualification</label>
        <input type="email" class="form-control" id="email" placeholder="B.Com">

      </div>
    </div>

    <div class="col-sm-4">
      <div class="form-group">
        <label>Experience</label>
        <select class="form-control" name="marital">
          <option value=""></option>
          <option value="Married">1</option>
          <option value="Single">1</option>
        </select>
      </div>
    </div>



  </div>


  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <label>Functional ARea</label>
        <select class="form-control" name="marital">
          <option value=""></option>
          <option value="Married">1</option>
          <option value="Single">1</option>
        </select>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label>Indystry</label>
        <select class="form-control" name="marital">
          <option value="">Bank</option>
          <option value="Married">1</option>
          <option value="Single">1</option>
        </select>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="form-group">
        <label>Gender</label>
        <select class="form-control" name="marital">
          <option value="">Both</option>
          <option value="Married">1</option>
          <option value="Single">1</option>
        </select>
      </div>
    </div>



  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <label>No of vacncies</label>
        <input type="email" class="form-control" id="email" placeholder="50">
      </div>
    </div>
  </div>

  <hr>



  <h4>Interview</h4><br>

  <div class="row">

    <div class="col-sm-4">
      <div class="form-group">
        <label>Walk-in Date</label>
        <input type="email" class="form-control" id="email" placeholder="21/03/17">

      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label>Walk-in Time</label>
        <input type="email" class="form-control" id="email" placeholder="10:00 - 04:00">

      </div>
    </div>

    <div class="col-sm-4">
      <div class="form-group">
        <label>Valid Until</label>
        <input type="email" class="form-control" id="email" placeholder="30/03/18">

      </div>
    </div>
  </div>

  <div class="row">


    <div class="col-sm-4">
      <div class="form-group">
        <label>Contact Name</label>
        <input type="email" class="form-control" id="email" placeholder="John">

      </div>
    </div>

    <div class="col-sm-4">
      <div class="form-group">
        <label>Contact number</label>
        <input type="email" class="form-control" id="email" placeholder="36646455">

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <label style=" padding:0px; color: #7c7b7b; font-weight: 500"> Show Above contact to job Seeker: <input
            type="checkbox" id="AgreeTermsp" name="accept_terms" value="Yes" style=" margin: 0px; height: inherit"> No
          <input type="checkbox" id="AgreeTermsp" name="accept_terms" value="Yes" style=" margin: 0px; height: inherit">
          Yes </label>
      </div>
    </div>
  </div>
  <!-- <div class="row">Job Description
    <app-text-editor></app-text-editor>
  </div>
  <div class="row">About Company
    <app-text-editor></app-text-editor>
  </div> -->
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <label style=" padding:0px; color: #7c7b7b; font-weight: 500"> Show Above contact to job Seeker: <input
            type="checkbox" id="AgreeTermsp" name="accept_terms" value="Yes" style=" margin: 0px; height: inherit">
          Active <input type="checkbox" id="AgreeTermsp" name="accept_terms" value="Yes"
            style=" margin: 0px; height: inherit"> Inactive </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="edit-button">

      <button type="submit" class="btn btn_form5 pull-right" style="margin-top: 0px">Cancel</button>

      <button type="submit" class="btn btn_form5 pull-right" style="margin-top: 0px">Save &amp; Publish</button>
      <button type="submit" class="btn btn_form5 pull-right" style="margin-top: 0px">Save</button>


    </div>
  </div>
</div>