<section id="featured">
    <div class="container">
        <h3 class="head_bottom">Featured Clients</h3><br><br><br>
        <div class="row">
            <div class="clienticon">
                <ul class="control-box pager">
                    <li class="leftarrow"><a data-slide="prev" href="#myCarousel" class=""><i
                                class="fas fa-chevron-left"></i></a></li>
                    <li class="rightarrow"><a data-slide="next" href="#myCarousel" class=""><i
                                class="fas fa-chevron-right"></i></a></li>
                </ul>
            </div>
            <div class="carousel slide" id="myCarousel" style="width: 100%">
                <div class="carousel-inner">
                    <div class="item active">
                        <ul class="thumbnails">
                            <div class="col-sm-3">
                                <div class="fff">
                                    <img src="./assets/img/client/1.png" class="img-responsive">
                                </div>
                            </div>
                            <div class="col-sm-3 sss">
                                <div class="fff">
                                    <img src="./assets/img/client/2.png" class="img-responsive">
                                </div>
                            </div>
                            <div class="col-sm-3 sss">
                                <div class="fff">
                                    <img src="./assets/img/client/1.png" class="img-responsive">
                                </div>
                            </div>
                            <div class="col-sm-3 sss">
                                <div class="fff">
                                    <img src="./assets/img/client/2.png" class="img-responsive">
                                </div>
                            </div>
                        </ul>
                    </div><!-- /Slide1 -->
                    <div class="item">
                        <ul class="thumbnails">
                            <div class="col-sm-3">
                                <div class="fff">
                                    <img src="./assets/img/client/1.png">
                                </div>
                            </div>
                            <div class="col-sm-3 sss">
                                <div class="fff">
                                    <img src="./assets/img/client/2.png">
                                </div>
                            </div>
                            <div class="col-sm-3 sss">
                                <div class="fff">
                                    <img src="./assets/img/client/1.png">
                                </div>
                            </div>
                            <div class="col-sm-3 sss">
                                <div class="fff">
                                    <img src="./assets/img/client/2.png">
                                </div>
                            </div>
                        </ul>
                    </div><!-- /Slide2 -->
                    <div class="item">
                        <ul class="thumbnails">
                            <div class="col-sm-3">
                                <div class="fff">
                                    <img src="./assets/img/client/1.png">
                                </div>
                            </div>
                            <div class="col-sm-3 sss">
                                <div class="fff">
                                    <img src="./assets/img/client/2.png">
                                </div>
                            </div>
                            <div class="col-sm-3 sss">
                                <div class="fff">
                                    <img src="./assets/img/client/1.png">
                                </div>
                            </div>
                            <div class="col-sm-3 sss">
                                <div class="fff">
                                    <img src="./assets/img/client/2.png">
                                </div>
                            </div>
                        </ul>
                    </div><!-- /Slide3 -->
                </div>



                <!-- /.control-box -->

            </div>

        </div>
    </div>
</section>
<div class="clearfix"></div>
<div class="post-resume">
    <div class="container">
        <div class="row">
            <div class=" col-md-10 col-md-offset-1">
                <div class="post-resume-text text-center">
                    <br>
                    <h4>Post Your Resume Which Employers Love</h4>

                    <ul class="post_list">
                        <li><a href="sign-up-upload-resume.html">Upload Your <br>Resume</a></li>
                        <li>or</li>
                        <li><a href="sign-up-build-resume.html">Creat Resume <br>For Free</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="browser-top">
    <div class="container">
        <div class="row">
            <h3 class="head_bottom">Browsers Top Skills</h3>
        </div>
        <div class="row">
            <div class=" col-md-3 ">
                <ul class="browser-list">
                    <li><a href="#">Android Developer</a></li>
                    <li><a href="#">Customer Service Representative</a></li>
                    <li><a href="#">Front-Ed Developer</a></li>
                    <li><a href="#">iOS Developer</a></li>
                    <li><a href="#">Php Developer</a></li>
                    <li><a href="#">Seo Expert</a></li>
                </ul>
            </div>

            <div class=" col-md-3 ">
                <ul class="browser-list">
                    <li><a href="#">Bookkeeper</a></li>
                    <li><a href="#">Database Administrator</a></li>
                    <li><a href="#">Game Developer</a></li>
                    <li><a href="#">Java Developer</a></li>
                    <li><a href="#">Python Developer</a></li>
                    <li><a href="#">Social Media Manager</a></li>
                </ul>
            </div>

            <div class=" col-md-3 ">
                <ul class="browser-list">
                    <li><a href="#">Copywriter</a></li>
                    <li><a href="#">Facebook Developer</a></li>
                    <li><a href="#">Information Security Analyst</a></li>
                    <li><a href="#">Mobile App Developer</a></li>
                    <li><a href="#">Sales Consultant</a></li>
                    <li><a href="#">Software Engineer</a></li>
                </ul>
            </div>

            <div class=" col-md-3 ">
                <ul class="browser-list">
                    <li><a href="#">Content Writer </a></li>
                    <li><a href="#">Data Scientist</a></li>
                    <li><a href="#">Graphic Designer</a></li>
                    <li><a href="#">Logo Designer</a></li>
                    <li><a href="#">Resume Write</a></li>
                    <li><a href="#">Software Developer</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="salary-calculator">
    <div class="container">
        <div class="row">
            <div class=" col-md-4">
                <div class="salary-calculator-text">
                    <h2>Calculate Your Own Salary</h2>
                </div>

            </div>
            <div class="col-sm-5 col-sm-offset-2">
                <div class="salary-form">
                    <form>
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" placeholder="Job  title / Key Skills">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="pwd" placeholder="experience">
                        </div>

                        <div align="center"><a data-toggle="modal" style="color: #fff;" data-target="#calculator"
                                class="btn btn_form">Calculate</a></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="mobile-app">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="mobile-app-box">
                    <img src="./assets/img/mobile-app.jpg" class="img-responsive">
                    <div class="mobile-app-text">
                        <h2>DownloAd <br><span>The Apply Now</span></h2>
                        <ul>
                            <li><a href="#"><i class="fab fa-apple"></i>App Store</a></li>
                            <li><a href="#"><i class="fab fa-android"></i>Play Store</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <img src="./assets/img/ad.jpg" class="img-responsive">
            </div>
        </div>
        <br><br><br>
        <div class="row">
            <h3 class="head_bottom2">Blogs</h3>
        </div>
        <br>
        <div class="row">

            <div class="col-sm-4">
                <div class="blog-box">
                    <img src="./assets/img/blog/1.jpg" class="img-responsive">
                    <h4>20th July</h4>
                    <p>India's Fortune is at the Bottom<br> of the Pyramid - Learn....</p>
                    <a href="#">Read More</a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="blog-box">
                    <img src="./assets/img/blog/2.jpg" class="img-responsive">
                    <h4>16th July</h4>
                    <p>7th Pay Comission for<br> Government Employees - How...</p>
                    <a href="#">Read More</a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="blog-box">
                    <img src="./assets/img/blog/3.jpg" class="img-responsive">
                    <h4>10th July</h4>
                    <p>To Strengthen The Working Poor<br> -Just Jobs..</p>
                    <a href="#">Read More</a>
                </div>
            </div>


        </div>
        <br><br>
        <div align="center"><a href="#" class="read_button">View more</a></div>
    </div>
</div>