<div class="col-sm-3">
	<div class="job-seeker-left">
		<div class="job-seker-img"><img [src]="profileUrl" class="img-responsive circular--square"></div>
		<div style="padding: 30px 0px;">
			<div class="text-name">
				<h3>{{recruiterModel.personalInfo.firstName}} {{recruiterModel.personalInfo.lastName}} </h3>
				<div class="clearfix"></div><br>
				<h3 style="color: #626161; font-size: 18px;">{{recruiterModel.personalInfo.designation}}<br><br>{{recruiterModel.personalInfo.companyName}} </h3>
			</div>
			<div class="clearfix"></div>
			<div class="text-name text-neme-top"><a class="mail"><strong>Email:</strong>{{this.recruiterModel.email}}</a>
				<div class="clearfix"></div>
				<a class="verify"><i class="fas fa-exclamation"></i><span
						style="color: #ff9f52; border-bottom: 1px solid #ff9f52">Verify Now </span></a>
				<div class="icon-box-edit"><a><i class="fas fa-pen"></i></a></div>

			</div>
			<div class="clearfix"></div>
			<div class="text-name text-neme-top" style="margin-top: 15px;"><a  class="mail"><strong>Ph:</strong>  {{recruiterModel.personalInfo.phoneNo}}</a>
				<div class="clearfix"></div>
			</div>

			<div class="clearfix"></div>
			<div class="text-name text-neme-top" style="margin-top: 15px;"><a class="mail"><strong>Profile Progress</strong></a>
				<div class="clearfix"></div>
        <div class="progress md-progress progress-height">
          <div class="progress-bar" 
               role="progressbar" 
               [ngStyle]="{'width':recruiterModel.profileCompletion+'%'}" 
               aria-valuenow="25" 
               aria-valuemin="0" 
               aria-valuemax="100">
               {{recruiterModel.profileCompletion}}%
          </div>
      </div>
			</div>
		</div>
		<div class="employerleft">
			<div class="profile-nav-box">
				<ul class="profile-nav">
					<li routerLinkActive="active"><a routerLink="/reqem/home">Home</a></li>
					<li routerLinkActive="active"><a routerLink="/reqem/my-account">My Acccount</a></li>
					<li routerLinkActive="active"><a routerLink="/reqem/my-lising">My Listing</a></li>
					<!-- <li routerLinkActive="active"><a routerLink="/reqem/auto-match-profile">Auto Match Profile</a></li> -->
					<li routerLinkActive="active"><a routerLink="/reqem/search-candidate">Search Candidate</a></li>
					<li routerLinkActive="active"><a routerLink="/reqem/pricing">Pricing</a></li>
					<!-- <li routerLinkActive="active"><a routerLink="/reqem/interview-schedule">Interview Schedule</a></li>
					<li routerLinkActive="active"><a routerLink="/reqem/interview-status">Interview Status</a></li> -->
				</ul>
			</div>
		</div>
	</div>
</div>
