.circular--square{
  border-radius: 50%;
}
    .progress-bar{
        background:#ff9934;
        font-size: 20px;
        height: 30px;
        padding-top: 5px;
      }
    
      .progress-height{
        height: 30px;
        background:wheat;
        border-radius: 15px;
      }
      