<form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
  <ejs-richtexteditor id='defaultRTE' 
                      name="aboutCompany" 
                      [(ngModel)]="description" 
                      [toolbarSettings]='tools'
                      [quickToolbarSettings]='quickTools'
                      [iframeSettings]='iframe' 
                     
                      required
                     >
  </ejs-richtexteditor>

  <!-- <ejs-richtexteditor id='defaultRTE1'
                      name="jobDescription" 
                      [(ngModel)]="jobDescription" 
                      [toolbarSettings]='tools'
                      [quickToolbarSettings]='quickTools'
                      [iframeSettings]='iframe' 
                      [height]='height'
                      [width]='width'>
</ejs-richtexteditor> -->
</form><br><br>
