<form #form=ngForm (ngSubmit)="onSubmit(form)" (keydown.enter)="$event.preventDefault()" novalidate >
    <div class="empoyer-accoun-form">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>First Name</label>
                    <input type="text" 
                            class="form-control" 
                            name="firstName"
                            id="firstName" 
                            [(ngModel)]="recruiterModel.personalInfo.firstName"
                            placeholder="e.g. Daniel"
                            required>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" 
                            class="form-control"
                            name="lastName"
                            id="lastName" 
                            [(ngModel)]="recruiterModel.personalInfo.lastName"
                           placeholder="e.g. Williams"
                           required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Company Name</label>
                    <input type="text" 
                            class="form-control" 
                            name="companyName"
                            id="companyName" 
                            [(ngModel)]="recruiterModel.personalInfo.companyName"
                            placeholder="e.g. CTC Offer"
                            required>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Designation</label>
                    <input type="text" 
                            class="form-control" 
                            name="designation"
                            id="designation" 
                            [(ngModel)]="recruiterModel.personalInfo.designation"
                            placeholder="e.g. Sr. HR"
                            required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Country</label>
                    <input   type="text"
                             class="form-control" 
                             id="country"
                             name="country"
                             placeholder="Select Country"
                             [(ngModel)]="recruiterModel.personalInfo.country" 
                             list="countryName"
                             (change)="onCountrySelect($event.target.value)"
                             required>
                            <datalist id="countryName">
                                <option [value]=""></option>
                                <option  *ngFor="let c of countryList">{{c.name}}</option>
                            </datalist>

                           
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>State</label>
                       <input   type="text"
                                class="form-control" 
                                name="state"
                                placeholder="Select State"
                                (change)="onStateSelect($event.target.value)"
                                [(ngModel)]="recruiterModel.personalInfo.state" 
                                list="stateName"
                                required>
                                <datalist id="stateName">
                                    <option [value]=""></option>
                                    <option *ngFor="let c of stateList">{{c.name}}</option>
                                </datalist>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>City</label>
                       <input   type="text"
                                class="form-control" 
                                name="city"
                                placeholder="Select City"
                                [(ngModel)]="recruiterModel.personalInfo.city" 
                                list="cityName" required>
                                <datalist id="cityName">
                                    <option [value]=""></option>
                                    <option *ngFor="let c of cityList">{{c.name}}</option>
                                </datalist>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Website URL</label>
                    <input type="text" 
                            class="form-control" 
                            id="websiteURL" 
                            name="websiteURL"
                            placeholder="e.g. www.WEBSITENAME.com"
                            pattern=""
                           [(ngModel)]="recruiterModel.personalInfo.websiteURL"
                           required>
                </div>
            </div>
        </div>
        <app-file-upload [imgUrl]="imgUrl"></app-file-upload>
        <div class="row">
            <div class="col-sm-12">
                <button type="submit" 
                        class="btn btn_form5 pull-right" 
                        style="margin-top: 0px">Update Setting
               </button>
            </div>
        </div>
    </div>

</form>



