<form #form="ngForm" (ngSubmit)="onSubmit(form)" novalidate>
<div class="empoyer-accoun-form">
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label>Change your password</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label>New Password*</label>
        <input type="password" 
                class="form-control" 
                id="newPwd" 
                name="newPwd"
                [(ngModel)]="recruiterModel.password"
                required>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <label>Confirm New Password*</label>
        <input type="password" 
                class="form-control" 
                id="confirmPwd"
                name="confirmPwd"
                [(ngModel)]="recruiterModel.newPassword"
                required>
      </div>
    </div>


  </div>
  <div align="right">
    <button type="submit" 
            class="btn btn_form5" 
            style="margin-top: 0px">Update Password
    </button>
   </div>
</div>
</form>
